<div class="center_content">
    <div class="maintext">
        <h1>Щоденник моїх активностей</h1>
        <div class="date">
            <div class="button" id="previous">Попередня дата</div>
            Моя активність за 
            <div class="button" id="next">Наступна дата</div>
        </div>
        <div class="activity"></div>
    </div>
</div>