<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <link rel="stylesheet" href="../css/diary.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="shortcut icon" href="../img/logo.ico" type="image/x-icon">
    <title>Health&Food</title>
</head>

<body>
    <nav>
        <div class="icon"></div>
        <ul>
            <li class="drop">
                <a href="/">Головна сторінка</a>

                <div class="dropdownContain">
                    <div class="dropOut">
                        <div class="triangle"></div>
                        <ul>
                            <li><a href="/daily">Мій щоденник</a></li>
                            <li><a href="/calculator">Калькулятор</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="drop">
                <a href="/healthy_food">Правильне харчування</a>

                <div class="dropdownContain">
                    <div class="dropOut">
                        <div class="triangle"></div>
                        <ul>
                            <li><a href="/healthy_food/breakfast">Сніданок</a></li>
                            <li><a href="/healthy_food/lunch">Обід</a></li>
                            <li><a href="/healthy_food/dinner">Вечеря</a></li>
                        </ul>
                    </div>
                </div>

            </li>
            <li class="drop">
                <a href="/training">Тренування</a>
                <div class="dropdownContain">
                    <div class="dropOut">
                        <div class="triangle"></div>
                        <ul>
                            <li> <a href="/training/back">М'язи спини</a></li>
                            <li> <a href="/training/arms">М'язи рук</a></li>
                            <li> <a href="/training/core">М'язи живота</a></li>
                            <li> <a href="/training/legs">М'язи ніг</a></li>
                            <li> <a href="/training/butt">М'язи сідниць</a></li>
                            <li> <a href="/training/all_muscles">М'язи всього тіла</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <main>
        <%- include('./partials'+path) %>
    </main>

    <div class="scrollButton"><img src="../img/back_arrow.png" alt="up_arrow"></div>

    <div id="footer">
        Health&Food &copy; 2022
    </div>
</body>
<script src="../js/upScrollButton.js"></script>

</html>