<div class="center_content">
    <img id="img0" src="static/img/yoga2.png">
    <div class="maintext0">
        <p>Безліч щоденних турбот і обов’язків призводять до нервового перенапруження, до вечора валять з ніг.
            Короткий тривожний сон не може повноцінно відновити організм, а наступного ранку карусель турбот
            розкручується знову…<br>Як тримати себе в хорошій фізичній формі, якщо живеш у стані перманентного
            стресу?<br> Ми розповімо, як підтримувати гарну фізичну форму, не відвідуючи тренажерний зал і не
            користуючись послугами персонального тренера.</p>
    </div>
</div>